.hero-section-carousel {
  position: relative;
  width: 100%;
  height: 750px; /* Set your desired height */
  overflow: hidden; /* Hide any overflow */
  margin-bottom: 20px;
  background-color: #307346;
}

.hero-video {
  width: 70%;
  height: 100%; /* Let the height adjust based on aspect ratio */
  display: block; /* Ensure proper display */
  margin: auto; /* Center the video horizontally */
  margin-bottom: 20px; 
  object-fit: cover; /* Ensure the video covers the entire container */
}
