.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .title h1 {
    font-size: 28px;
    color: #333;
  }
  
  .testimonial-carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonial-slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-100% / 3 * var(--slide-index)));
  }
  
  .testimonial {
    flex: 0 0 90%; /* Full width on mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 200px;
  }
  
  .testimonial-content {
    background: #307346;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit width on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonial-text {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
  }
  
  .testimonial-author {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .author-name {
    font-size: 14px;
    color: white;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    
  }
  
  .left-arrow {
    left: 5px;
  }
  
  .right-arrow {
    right: 5px;
  }
  
  /* Media Queries for Tablet */
  @media (min-width: 768px) {
    .testimonial {
      flex: 0 0 50%; /* Two testimonials per row on tablets */
      padding: 15px;
    }
  
    .testimonial-content {
      width: 90%;
      max-width: 500px;
    }
  }
  
  /* Media Queries for Desktop */
  @media (min-width: 992px) {
    .testimonial {
      flex: 0 0 33.33%; /* Three testimonials per row on desktop */
    }
  
    .testimonial-content {
      width: 80%;
      max-width: 600px;
    }
  }
  